/**************************************************************
[+] GreenOnBlack - Cascading Style Sheet [+]
* External CSS file.
* Designed to resemble the aesthetics of GreenOnBlack profiles
* from terminal emulators.
[Author]	brianc2788@gmail.com
[Homepage]	http://brianc2788.github.io/
**************************************************************/

body {
	font-family: Arial, Helvetica, sans-serif;	/* Desired font with fallbacks; including a generic. */
	font-size: 16px;							/* See CSS Units (Absolute & Relative) for details. */
	font-style: normal;							/* italic, oblique, oblique <angle>, ... */
	font-variant: normal;						/* small-caps, slashed-zero, tabular-nums, ... */
	font-weight: normal;						/* Can specify values; normal = 400, bold = 900 */

	color: #A0FFA0; /* lightgreen */
	background-color: #000000; /* black */
	
	/* Use col classes below.
	margin-left: 30vw;
	margin-right: 30vw;
	*/
}

h1,h2,h3,h4,h5,h6 {
	color: whitesmoke;
	font-family: 'Times New Roman', Times, serif;
}

h2 {
	font-weight: bold; /* Or value of 900. */
}

caption {
	caption-side: bottom;
	font-style: italic;
}

p.post-caption {
	text-align: center;
	font-style: italic;
}

blockquote.psuedo-code {
	/* Like default <code> tagged-text. */
	font-family: monospace;
	font-variant: slashed-zero;
}

table {
	width: 100%;
	border: solid #FF0000 5px;
}
th, td {
	border: solid #FF0000 1px;
}

/************************
* Dividers & Containers *
************************/

/* Boxed container for text-based content. */
.boxpost {
	font-weight:normal;

	border: solid;
	border-width: 1px;
	padding: 10px;

	max-width: 32%;
	position: relative;
	float: left;
}

/* Copyright Footer */
.copyleft {
	position: relative;
	float: bottom;
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: italic;
	text-align: center;
}
